;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Nov 28 15:35:58 2011
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/notes/" "/home/firo/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/firo/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(linum-mode auto-complete-mode)
  1485
  '(779 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

